<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/auditform.css">
    <script defer src="/../../js/j_auditform.js" type="module"></script>
    <title>Audit Form</title>
</head>
<body>
    <div class="header">
    </div>

    <div id="root">
        <div class="order-details">
            <% if (existOrder) { %>
                <%- include('./includes/e_a_auditformorderdetails',{existOrder:existOrder})%>
            <% } %>
        </div>

        <div class="audit-details">
            <% if (existAudits) { %>
                <%- include('./includes/e_b_auditformauditdetails_1',{existAudits:existAudits})%>
            <% } %>
            <% if (!existAudits) { %>
                <%- include('./includes/e_b_auditformauditdetails_2')%>
            <% } %> 
        </div>

        <div class="event-details">
            <% if (existEvents) { %>
                <%- include('./includes/e_c_auditformeventsdetails_1',{existEvents:existEvents})%>
            <% } %>
            <% if (!existEvents) { %>
                <%- include('./includes/e_c_auditformeventsdetails_2')%>
            <% } %>
        </div>

        <div class="tedsuit-unsuitable-details">
            <% if (existTedSuitUnsutables) { %>
                <%- include('./includes/e_d_auditformtedsuitdetails_1',{existTedSuitUnsutables:existTedSuitUnsutables})%>
            <% } %>
            <% if (!existTedSuitUnsutables) { %>
                <%- include('./includes/e_d_auditformtedsuitdetails_2')%>
            <% } %>
        </div>

        <div class="audit-form-to-send">
           <%- include('./includes/e_e_auditformcontrolform') %>
        </div>
    </div>
</body>
</html>