<div class="column">
    <div class="row">İSİM SOYİSİM</div>
    <div class="row" id="nameSurname"><%= existOrder.VAR_ADI_SOYAD%></div>
</div>
<div class="column">
    <div class="row">SİCİL NO:</div>
    <div class="row" id="workerId"><%= existOrder.VAR_SICIL%></div>
</div>
<div class="column">
    <div class="row">VARDİYA BİLGİSİ:</div>
    <div class="row"><%= existOrder.VAR_VARDIYA_BILGISI%></div>
</div>
<div class="column">
    <div class="row">SÜREÇ BİLGİSİ:</div>
    <div class="row"><%= existOrder.VAR_SUREC%></div>
</div>
<div class="column">
    <div class="row">ARAÇ PLAKASI:</div>
    <div class="row"><%= existOrder.VAR_ARAC_PLAKASI%></div>
</div>
<div class="column">
    <div class="row">SİPARİŞ TÜRÜ:</div>
    <div class="row"><%= existOrder.ZWFM0064_SIPARIS_TURU%></div>
</div>
<div class="column">
    <div class="row">SİPARİŞ NO:</div>
    <div class="row" id="orderId"><%= existOrder.ZWFM0064_SIPARIS%></div>
</div>